@model RidingBikes.Common.Models.BikeRouteModels.BikeRouteViewModel

<div class="row">
    <div class="col">
        @Html.DisplayNameFor(model => model.Id): @Html.DisplayFor(model => model.Id)
    </div>        
    <div class="col">
        @Html.DisplayNameFor(model => model.Distance): @Html.DisplayFor(model => model.Distance)
    </div>        
    <div class="col">
        @Html.DisplayNameFor(model => model.RideWithGPSUrl): @Html.DisplayFor(model => model.RideWithGPSUrl)
    </div>         
</div>




    